<!-- templates/teacher_role_forms.html -->
<h2 class="section-title">Assign General Permission to Teacher</h2>
<p>User ID: {{ user.id }}</p>
<form method="POST" action="{% url 'assign_teacher_permissions' user.pk %}">
    {% csrf_token %}

    <table>
        <thead>
            <tr>
                <th style="width: 5%;"><input type="checkbox" id="select-all"></th>
                <th style="width: 25%;">MODULE</th>
                <th style="width: 70%;">PERMISSIONS</th>
            </tr>
        </thead>
        <tbody>
            <!-- Profile Permissions -->
            <tr>
                <td class="checkbox-container">
                    <input type="checkbox" class="module-checkbox" name="module" value="profile">
                </td>
                <td>Profile</td>
                <td class="permission-column">
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="can_manage" value="True">
                        <label>Manage</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="can_create" value="True">
                        <label>Create</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="can_edit" value="True">
                        <label>Edit</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="can_delete" value="True">
                        <label>Delete</label>
                    </div>
                </td>
            </tr>

            <!-- Categories Permissions -->
            <tr>
                <td><input type="checkbox" class="module-checkbox" name="module" value="categories"></td>
                <td>Categories</td>
                <td class="permission-column">
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="manage_categories" value="True">
                        <label>Manage</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="create_categories" value="True">
                        <label>Create</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="edit_categories" value="True">
                        <label>Edit</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="delete_categories" value="True">
                        <label>Delete</label>
                    </div>
                </td>
            </tr>

            <!-- Instructor Permissions -->
            <tr>
                <td><input type="checkbox" class="module-checkbox" name="module" value="Instructor"></td>
                <td>Instructors</td>
                <td class="permission-column">
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="manage_Instructor" value="True">
                        <label>Manage</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="create_Instructor" value="True">
                        <label>Create</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="edit_Instructor" value="True">
                        <label>Edit</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="delete_Instructor" value="True">
                        <label>Delete</label>
                    </div>
                </td>
            </tr>

            <!-- Levels Permissions -->
            <tr>
                <td><input type="checkbox" class="module-checkbox" name="module" value="Levels"></td>
                <td>Levels</td>
                <td class="permission-column">
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="manage_Levels" value="True">
                        <label>Manage</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="create_Levels" value="True">
                        <label>Create</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="edit_Levels" value="True">
                        <label>Edit</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="delete_Levels" value="True">
                        <label>Delete</label>
                    </div>
                </td>
            </tr>

            <!-- Language Permissions -->
            <tr>
                <td><input type="checkbox" class="module-checkbox" name="module" value="Language"></td>
                <td>Language</td>
                <td class="permission-column">
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="manage_Language" value="True">
                        <label>Manage</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="create_Language" value="True">
                        <label>Create</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="edit_Language" value="True">
                        <label>Edit</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="delete_Language" value="True">
                        <label>Delete</label>
                    </div>
                </td>
            </tr>

            <!-- Course Permissions -->
            <tr>
                <td><input type="checkbox" class="module-checkbox" name="module" value="Course"></td>
                <td>Course</td>
                <td class="permission-column">
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="manage_Course" value="True">
                        <label>Manage</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="create_Course" value="True">
                        <label>Create</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="edit_Course" value="True">
                        <label>Edit</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="delete_Course" value="True">
                        <label>Delete</label>
                    </div>
                </td>
            </tr>

            <!-- Lesson Permissions -->
            <tr>
                <td><input type="checkbox" class="module-checkbox" name="module" value="Lesson"></td>
                <td>Lesson</td>
                <td class="permission-column">
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="manage_Lesson" value="True">
                        <label>Manage</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="create_Lesson" value="True">
                        <label>Create</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="edit_Lesson" value="True">
                        <label>Edit</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="delete_Lesson" value="True">
                        <label>Delete</label>
                    </div>
                </td>
            </tr>

            <!-- CourseResource Permissions -->
            <tr>
                <td><input type="checkbox" class="module-checkbox" name="module" value="CourseResource"></td>
                <td>CourseResource</td>
                <td class="permission-column">
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="manage_CourseResource" value="True">
                        <label>Manage</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="create_CourseResource" value="True">
                        <label>Create</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="edit_CourseResource" value="True">
                        <label>Edit</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="delete_CourseResource" value="True">
                        <label>Delete</label>
                    </div>
                </td>
            </tr>

            <!-- What_u_learn Permissions -->
            <tr>
                <td><input type="checkbox" class="module-checkbox" name="module" value="What_u_learn"></td>
                <td>What_u_learn</td>
                <td class="permission-column">
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="manage_What_u_learn" value="True">
                        <label>Manage</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="create_What_u_learn" value="True">
                        <label>Create</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="edit_What_u_learn" value="True">
                        <label>Edit</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="delete_What_u_learn" value="True">
                        <label>Delete</label>
                    </div>
                </td>
            </tr>

            <!-- Requirements Permissions -->
            <tr>
                <td><input type="checkbox" class="module-checkbox" name="module" value="Requirements"></td>
                <td>Requirements</td>
                <td class="permission-column">
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="manage_Requirements" value="True">
                        <label>Manage</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="create_Requirements" value="True">
                        <label>Create</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="edit_Requirements" value="True">
                        <label>Edit</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="delete_Requirements" value="True">
                        <label>Delete</label>
                    </div>
                </td>
            </tr>

            <!-- VideoModels Permissions -->
            <tr>
                <td><input type="checkbox" class="module-checkbox" name="module" value="VideoModels"></td>
                <td>VideoModels</td>
                <td class="permission-column">
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="manage_VideoModels" value="True">
                        <label>Manage</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="create_VideoModels" value="True">
                        <label>Create</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="edit_VideoModels" value="True">
                        <label>Edit</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="delete_VideoModels" value="True">
                        <label>Delete</label>
                    </div>
                </td>
            </tr>

            <!-- Quiz Permissions -->
            <tr>
                <td><input type="checkbox" class="module-checkbox" name="module" value="Quiz"></td>
                <td>Quiz</td>
                <td class="permission-column">
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="manage_Quiz" value="True">
                        <label>Manage</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="create_Quiz" value="True">
                        <label>Create</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="edit_Quiz" value="True">
                        <label>Edit</label>
                    </div>
                    <div class="permission-item">
                        <input type="checkbox" class="permission-checkbox" name="delete_Quiz" value="True">
                        <label>Delete</label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="submit-btn">Assign Permissions</button>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get all module checkboxes
        const moduleCheckboxes = document.querySelectorAll(".module-checkbox");

        moduleCheckboxes.forEach(function (moduleCheckbox) {
            moduleCheckbox.addEventListener("change", function () {
                const row = this.closest("tr");
                // Get all permission checkboxes in this row
                const permissionCheckboxes = row.querySelectorAll(".permission-checkbox");

                // Set all permission checkboxes to match the module checkbox state
                permissionCheckboxes.forEach(function (checkbox) {
                    checkbox.checked = moduleCheckbox.checked;
                });
            });
        });

        // Optional: Select All functionality at the top
        const selectAll = document.getElementById("select-all");
        if (selectAll) {
            selectAll.addEventListener("change", function () {
                // Toggle all module checkboxes
                moduleCheckboxes.forEach(function (moduleCheckbox) {
                    moduleCheckbox.checked = selectAll.checked;
                    
                    // Also toggle all their associated permission checkboxes
                    const row = moduleCheckbox.closest("tr");
                    const permissionCheckboxes = row.querySelectorAll(".permission-checkbox");

                    permissionCheckboxes.forEach(function (checkbox) {
                        checkbox.checked = selectAll.checked;
                    });
                });
            });
        }

        // Optional: Update module checkbox when individual permissions are changed
        const allPermissionCheckboxes = document.querySelectorAll(".permission-checkbox");
        allPermissionCheckboxes.forEach(function(permissionCheckbox) {
            permissionCheckbox.addEventListener("change", function() {
                const row = this.closest("tr");
                const moduleCheckbox = row.querySelector(".module-checkbox");
                const permissionCheckboxes = row.querySelectorAll(".permission-checkbox");
                
                // Check if all permissions in this row are checked
                const allChecked = Array.from(permissionCheckboxes).every(checkbox => checkbox.checked);
                // Check if any permissions in this row are checked
                const anyChecked = Array.from(permissionCheckboxes).some(checkbox => checkbox.checked);
                
                // Update module checkbox state
                if (allChecked) {
                    moduleCheckbox.checked = true;
                    moduleCheckbox.indeterminate = false;
                } else if (anyChecked) {
                    moduleCheckbox.checked = false;
                    moduleCheckbox.indeterminate = true; // Shows partially selected state
                } else {
                    moduleCheckbox.checked = false;
                    moduleCheckbox.indeterminate = false;
                }
            });
        });
    });
    </script>

</form>